### Case sensitive for all section names, parameters, and values

## Add a genome section to reflect the genome of interest. 
## If there are multiple genomes, each genome must have its own section.
## When amplicon sequence is used as reference, this section is ignored.
#
[genomex]
ref_fasta = genome/genomex.fa
bwa_idx = genome/genomex.fa
refGene = genome/refgenex.txt

## Required tools 

[app]

# The paths of abra jar file.
abra = /path/to/ABRA/abra-0.97-SNAPSHOT-jar-with-dependencies.jar

# Path to prinseq-lite.pl. Make sure prinseq path is executable.
prinseq = /path/to/prinseq-lite-0.20.4/prinseq-lite.pl 

# bwa must be added to PATH

# Path of samtools. By default use samtools in PATH.
samtools = /path/to/samtools-1.3.1/samtools 

# Path of flash. By default use flash in PATH.
flash = /path/to/flash2 

# bedtools (e.g. v2.25) must support: bedtools intersect -F 
# Default is bedtools in PATH.
bedtools = /path/to/bedtools2.25/bin/bedtools

# Java must be 1.7 or later. Default is java in PATH
java = /path/to/jdk1.7.0_51/bin/java

# Path of pysamstats executable. By default use pysamstats in PATH.
pysamstats = /path/to/bin/pysamstats

# R must have ggplot2, reshape2, and naturalsort packages
#  By default use Rscript in PATH.
rscript = /path/to/R-3.2.1/bin/Rscript

## Filtering parameters

[prinseq]
# remove reads with quality score mean below this value (default: 30) 
min_qual_mean = 30

# remove reads with length less than this value (default: 50) 
min_len	= 50

# remove reads with percentage of Ns over this value (default: 3).
ns_max_p = 3 

[other]
# realign for large indel detection with ABRA: Y(default) or N
realign_flag = Y 

# require minimum BWA mapping quality score (default: 20) 
min_mapq = 20

# number of bases on each side of sgRNA to view base changes (default: 40) 
wing_length = 100 

# Whether to use very high resolution in plots. 
# Default: 0. This creates PNG images of 72 ppi resolution. Good for web viewing.
# If set to 1, TIFF images of 1200 ppi will be created and may be good for publication.  
# TIFF images may not be viewable in major web browsers, but can be opened 
# using common graphics software. 
high_res = 0

# To control how many cores are needed to process one sample in SGE cluster
# The list of parallel environments can be found by 'qconf -spl'
parallel_env = orte
cores_per_job = 2
