# example to start the pipeline
## You may need to set PYTHONPATH to search for pysam modules if installed locally, e.g.
#export PYTHONPATH=$HOME/lib/python2.7/site-packages:$PYTHONPATH
## You may need to set PERL5LIB path to search for perl modules if installed locally, e.g.
#export PERL5LIB=$HOME/perlmod/lib/perl5:$PERL5LIB
./crispr.pl --conf conf.txt --region amplicon.bed --crispr site.bed \
	--sitemap sample.site --fastqmap fastq.list --genome genomex
