/* Table formatting */

.tab, .tab table    { border-collapse: collapse; }
.tab th { background-color: #ffc; }
.tab th, .tab td { border: #fc9 solid 1px; padding: 2px;
                   empty-cells: show; vertical-align: top; }

.tab caption { background-color: #ffc; text-align: left; }

.tagtab     { width: 35em; }
.tagtab .tagval    { white-space: pre-wrap; }
.vam { vertical-align: middle ! important; }

.hide       { display: none ! important; }
.spanDiv    { display: inline-block; clear: both; float: left;}
.toggle     { font-size: 0.8em; font-style: italic; color: blue; 
              cursor: help; }

.msg        { color: navy; border-left: #900 solid 1px; }
h3          { color: #06c; background-color: #9f9; }

.nofreq     { background-color: #fcf; text-align: center; }
.faux       { color:blue; border-bottom: 1px dotted blue; }
.freqtab td { text-align: center; vertical-align: middle ! important; }
.rttd       { text-align: right ! important;  }
.adv        { background-color: #cff;  }
.howbad     { font-weight: bold; color:red; border: yellow solid 1px;  }
.sym        { color: #039; font-style: italic; font-weight: bold; }
.taxa       { color: #360; }
.mini       { font-size: 0.7em; font-style: italic; }

.del        { background-color: red; color: yellow; }
.err        { background-color: red; width: 30em; white-space: normal ! important; }
.prt        { color: purple; text-align: center; background-color: #ccc; }
.seq        { font-family: Courier New, Courier, monospace; color: #300;
              font-size: 12px;}
.break      { width: 100%; height: 3px; text-align: center;
              background-color: #aaa; margin-top: 2px; }
.var        { background-color: #ff0; font-weight: bold; }
.allele     { font-family: Courier New, Courier, monospace; font-size: 10px;  }
.coord      { font-family: Courier New, Courier, monospace; color: #900;  }
.note       { font-size: 0.8em; color: navy; }
.moreinfo   { cursor: help; }
.infonum    { width: 2em ! important; text-align: center; }
.countzero  { color: #c60; background-color: #fcf; text-align: center; }

.medlabel   { font-size:1.2em; font-weight: bold; color: #060; }
.smalllabel   { font-size:0.9em; font-weight: bold; color: #060; }
.tagcloud   { border: #ccc solid 1px; padding: 1px; overflow: auto; }
.tagbit     { float: left; border: #96c solid 1px; margin: 1px; padding: 1px; background-color: #bef; }
.tag        { font-weight:bold; color: #006; }
.val        { font-size:0.8em; padding-left: 3px; }
.pkey       { font-family: Courier New, Courier, monospace; font-size: 0.5em; color: #600; }
.count      { font-family: Courier New, Courier, monospace; font-size: 0.8em; color: #699; }

.filtPass:before { content: url(images/8x8greenChk.png); }
.filtFail:before { content: url(images/8x8redX.png); }
.filtOk:before   { content: url(images/8x8bluePlus.png); }

.small { font-size: 0.7em; }
.qry     { color: #009; background-color: #9f3;  }
.qryrel  { color: #009; background-color: #cf9;  }
.qrynear { color: #ff0; background-color: #06c;  }
.qryexc  { color: #f99; background-color: #000;  }

/* Simple styles */
.blue  { color: blue; }
.green { color: green; }
.red   { color: red; }
.cen   { text-align: center; }
.bold  { font-weight: bold; }
.mono  { font-family: monospace; }

/* TiddlyWiki help links */

.twhelp { color: #903; background-color: #ffa; text-decoration: none;
          padding-left: 2px; padding-right: 2px;
          margin-left:  2px; margin-right:  2px;
          font-size: smaller; font-weight: bold; display: inline; }

.twmsg  { color: #009; background-color: #eff; }
.twov   { color: #090; font-size: larger; }

/* Spiffy styling to turn links into little buttons */

.butt { background-color: #cfc; font-weight: bold; white-space: nowrap;
        border-bottom: #999 solid 1px; border-right: #999 solid 1px;
        padding: 0px 4px; margin: 4px; cursor: pointer; text-decoration: none;}
a.butt:hover, a.format:hover
{ border-top: #999 solid 1px; border-left: #999 solid 1px;
  border-bottom: none; border-right: none; background-color: #6f6; }


.DumpMsg { white-space: pre; color:tan;}
.ifaceNote { font-style:italic; font-size:0.8em; color:#555; }
.xtra { font-style:italic; font-size:0.8em; color:#f3f;}

